body {
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
.app .ui.header {
  font-family: 'Catamaran', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #3399ee !important;
  font-weight: bold;
}

a:hover,
.app .app-sidebar .item.active {
  color: #4b7dbf !important;
}

a.ui.button,
a.ui.button:hover {
  color: rgba(0, 0, 0, .6) !important;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  font-size: 1.5em;
  padding: .5em;
  background-color: #06a955;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-footer {
  font-size: 1.1em;
  padding: .3em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #9a9a9a;
  margin-bottom: 20px;
  font-style: italic;
}

.app-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}

.app-sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  background: #eee;
}

.app-sidebar .ui.vertical.text.menu .item {
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.export-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.export-buttons .image > img {
  height: 160px;
}

.export-buttons .image > .cover {
  display: block;
  height: 160px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.export-buttons h2 {
  margin: 0.2em 0 0 0;
  width: 300px;
}

.export-buttons .ui.button,
.export-buttons .ui.fluid.dropdown {
  margin-bottom: 5px;
  margin-right: 0;
}

.dropzone {
  border: 2px #3399ee solid;
  border-radius: 1em;
  color: #3399ee;
  margin: 1em auto;
  padding: .6em;
  font-size: 1.2em;
  width: 600px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
  text-align: center;
}

.fork-me-on-github {
  top: 40px !important;
}

.zip-warning {
  position: absolute;
  background: rgb(204, 204, 204);
  color: rgb(51, 51, 51);
  padding: 1em;
  bottom: 20px;
  font-size: .9em;
  text-align: center;
  left: 0;
  right: 0;
}

.ui.red.segment.error-message {
  position: absolute;
  top: 70px;
  width: 500px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}

.module-header {
  left: 250px;
  right: 60px;
  top: 0;
  margin: 0 -1px;
  background: #fff;
  position: fixed;
  z-index: 100;
  height: 100px;
  border-bottom: 1px #22242626 solid;
}

.module-header .ui.huge.header {
  color: #4b7dbf;
}

textarea {
  resize: none;
  padding: 10px;
  border-radius: 4px;
  border-color: #dededf;
  font-size: 1.1em;
  outline: none;
}